@model Mgmt30toolset.Models.ViewModels.KudoListViewModel

@foreach (var kudo in Model.Kudos)
{
<div>
    <h3>@kudo.Category.Name</h3>
    <p>@kudo.Content</p>
    <h4>Receiver: @kudo.Receiver.FirstName @kudo.Receiver.LastName</h4>
    <h5>Sender: @kudo.Sender.FirstName @kudo.Sender.LastName</h5>
    <hr>
</div>
}

<div>
@for (var pageNumber = 1; pageNumber <= @Model.PagingInfo.TotalPages; pageNumber++ )
{
    <a asp-controller="Kudo" asp-route-pageNumber="@pageNumber" asp-action="Index">@pageNumber</a>
}
</div>

