@model Mgmt30toolset.Model.Kudo

<div class="card m-3">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <h4>@Model.Category.Name</h4>
            </div>
            <div class="col-6 text-right">
                <a class="card-link"  asp-controller="Kudo" asp-action="Edit" asp-route-id="@Model.Id">
                    <span class="oi oi-pencil" title="edit" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    <div div class="card-body m-3 p-1">
        <div class="card-text p-1">
            @Model.Content
        </div>
        <h5>Receiver: @Model.Receiver.FirstName @Model.Receiver.LastName</h5>
        <h5>Sender: @Model.Sender.FirstName @Model.Sender.LastName</h5>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-6">
                <p class="card-text text-muted"><small>Created: @Model.DateCreated.ToString("dd MMM yyyy hh:mm tt")</small></p>
            </div>
            <div class="col-6 text-right">
                <p class="card-text text-muted"><small>Last update: @Model.DateUpdated.ToString("dd MMM yyyy hh:mm tt")</small></p>
            </div>
        </div>
       
     </div>
</div>
